body {
    background-color: rgb(255, 255, 255);
}

#logo {
    width: 60px;
    padding:3px;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    margin-top: 100px;
    text-align: center;
}

.header h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.header h5 {
    margin: 0px;
}

.nav-item-custom {
    margin-left: 15px;
}

.nav-link {
    border-bottom: 4px solid white;
    font-size: 22px;
}

.nav-link:hover {
    border-bottom: 4px solid rgb(70, 70, 70);
}

.nav-link1 {
    max-width: 109px;
}

.nav-link2 {
    max-width: 145px;
}

.nav-link3 {
    max-width: 60px;
}

.carousel {
    margin-left: 24%;
    margin-bottom: 50px;
}

.carousel-item p {
    font-size: 80%;
}

.col {
    margin-top: 20px;
}

.card-style {
    height: 300px;
    font-size: 90%;
    border-color: rgb(70, 70, 70);
    border-width: 2px;
}

.card-style h5 {
    margin-top: 8%;
    margin-bottom: 10%;
    font-size: 21px;
}

.flex-box {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.flex-box-img {
    margin-top: 5%;
    margin-bottom: 8%;
    margin-right: 5%;
    width: 40px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    background-color: black;
    color: white;
}

footer div {
    padding-top: 15px;
}

.footer-logo {
    padding: 0px;
}


.footer-logo img{
    margin: 10px;
    width: 30px;
    margin-left: 45px;
}

.footer-logo {
    grid-column: 3;
}

.footer-contact {
    grid-column: 5;
    margin-right: 25px;
    padding: 10px;
}

.footer-contact-logo1 {
    width: 25px;
}

.footer-contact-logo2 {
    width: 35px;
}

.footer-contact-logo3 {
    width: 23px;
}

.footer-copyright {
    margin-left: 25px;
    font-size: 14px;
}

.card:hover {
    animation-name: transformAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes transformAnimation {
    100% {transform: scale(1.05);}
}